.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  display: flex;
  align-items: center;
  margin-right: 16px;

  &::after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    margin-left: 15px;
  }

  &:last-child {
    margin-right: 0;

    &::after {
      display: none;
    }
  }
}

.menu__link {
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  @include ubuntu(medium);

  &:hover {
    text-decoration: underline;
  }
}